.git
.gitignore
.idea
.env.dist
venv
Dockerfile
setup.cfg
docker-compose.yml
README.md
requirements/*
!requirements/prod.txt

**/__pycache__
**/.pytest_cache
**/htmlcov
**/tests
**/.coveragerc
**/.coverage
